.centered {
    position: absolute;
    top: 6%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: rgb(1, 98, 184);
  }
  .example2 {
    position: absolute;
    transform: translate();
    border-radius: 35px 0px;
    left: 190px;
    top: 95%;
    font-size: 70px;
    color: rgb(255, 255, 255);
    padding: 10px 150px 10px 150px;
    background-image: linear-gradient(to bottom right, rgb(42, 106, 226), rgb(14, 55, 105));
    
  }
  #heding
  {
    position: absolute;
    top: 601px;
    left: 23%;
    transform: translate();
    color: white;
    background-color: rgb(22, 196, 170);
    font-size: 30px;
    padding: 0px 150px 0px 150px;
  }
  #icon
  {
    color: rgb(108, 105, 100);
    size: 50px;
  }
  .tex_color
  {
    color: rgb(7, 85, 152);
    font-size: 15px;
  }
  .child
  {
    position: absolute;
    transform: translate();
    box-shadow: 10px 10px rgb(1, 98, 184);
    border-radius: 28px 0px;
    position: absolute;
    left:800px;
    top:-607px
  }
  .right_side
  {
    position: absolute;
    transform: translate();
    border-radius: 15px 0px 0px;
    color: white;
    background-color: rgb(8, 63, 112);
    position: absolute;
    left:800px;
    top:-440px;
    padding: 10px 1px 10px 200px;
    font-size: 20px;
    text-align: center;
  }
 .last
 {
 position: absolute;
 left:800px; 
 top:-390px;
 background-color: rgb(22, 196, 170);
 color: white;
 text-align: right;
 font-size: 13px;
 padding: 10px 10px 10px 10px;
}
.qr
{
  position: absolute;
  left:700px; 
  top:-100px;
  border-radius: 28px 0px;
  background-color:rgb(8, 63, 112);
}