.centered {
    position: absolute;
    top: 6%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: rgb(1, 98, 184);
  }
  .example2 {
    position: absolute;
    transform: translate();
    border-radius: 35px 0px;
    left: 190px;
    top: 95%;
    font-size: 70px;
    color: rgb(255, 255, 255);
    padding: 10px 150px 10px 150px;
    background-image: linear-gradient(to bottom right, rgb(42, 106, 226), rgb(14, 55, 105));
    
  }
  #heding
  {
    position: absolute;
    top: 601px;
    left: 23%;
    transform: translate();
    color: white;
    background-color: rgb(22, 196, 170);
    font-size: 30px;
    padding: 0px 150px 0px 150px;
  }
  #icon
  {
    color: rgb(108, 105, 100);
    size: 50px;
  }
  .tex_color
  {
    color: rgb(7, 85, 152);
    font-size: 15px;
  }
  .child
  {
    position: absolute;
    transform: translate();
    box-shadow: 10px 10px rgb(1, 98, 184);
    border-radius: 30px 0px;
  }
 